<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">

    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="closeMenu()">Home</a>
      <a mat-list-item routerLink="/games" (click)="closeMenu()">All Games</a>
      <a mat-list-item routerLink="/ongoing" (click)="closeMenu()">Ongoing Games</a>
      <a mat-list-item routerLink="/winners" (click)="closeMenu()">Winners</a>
      <a mat-list-item routerLink="/matches" (click)="closeMenu()">Matches</a>
      <a mat-list-item routerLink="/honours" (click)="closeMenu()">Honours</a>
      <a mat-list-item routerLink="/galleries" (click)="closeMenu()">Galleries</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sports Website</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
